<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Acme_DependentFields::menu"
             title="Acme"
             module="Acme_DependentFields"
             sortOrder="100"
             resource="Acme_DependentFields::menu"/>

        <add id="Acme_DependentFields::group"
             title="Acme Dependent Fields"
             module="Acme_DependentFields"
             sortOrder="10"
             resource="Acme_DependentFields::group"
             parent="Acme_DependentFields::menu"/>

        <add id="Acme_DependentFields::example"
             title="Acme Dependent Fields Example"
             module="Acme_DependentFields"
             sortOrder="10"
             action="acme_dependentfields/example"
             resource="Acme_DependentFields::example"
             parent="Acme_DependentFields::group"/>
    </menu>
</config>
